<header class="latest-header">
  <div class="container">
      <nav class="navbar">
          <div class="navbar-header">
             
              <a class="navbar-brand">
                  <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQo-n-PQnFxqfABNACU8lDsISH7dDXHHUJXIED2JcKE8Sapv4zaOpsdqViCpu9nwd3Pn4o&usqp=CAU" style="width: 50px;" alt="Logo">
              </a>				
          </div>


          <a (click)="logout()" class="d-flex align-items-center text-decoration-none text-dark" style="cursor: pointer;">
            <mat-icon class="me-1">logout</mat-icon> Logout
          </a>
          
      </nav>
  </div>
</header>