<header class="latest-header">
  <div class="container">
      <nav class="navbar">
          <div class="navbar-header">
              <!-- Logo -->
              <!-- Menu Dropdown (Left side of the logo) -->
             
              <a class="navbar-brand">
                  <img src="https://career.hitbullseye.com/assets/image/hitbullseye-logo.png
                  ">
              </a>				
          </div>


          <a (click)="logout()" class="d-flex align-items-center text-decoration-none text-dark" style="cursor: pointer;">
            <mat-icon class="me-1">logout</mat-icon> Logout
          </a>
          

          <!-- Right-aligned Free Sign Up and Login -->
          <!-- <ul class="nav navbar-nav navbar-right">
              <li><a href="javascript:void(0)" onclick="operegistrationremote();" class="free-sign-btn"><span>Free Sign Up</span></a></li>
              <li><a class="login" href="javascript:void(0)" onclick="opeloginremote();">Login</a></li>
          </ul> -->
      </nav>
  </div>
</header>